---
export interface Props {
  label?: string;
  bgColor: string;
  logo?: string;
  logoColor?: string;
  link?: string;
}

const { logo, label, bgColor, logoColor = "white", link } = Astro.props;

function queryParam(name: string, value?: string) {
  return value ? `&${name}=${value}` : "";
}

function color(s: string) {
  return s.replace(/^#/, "");
}
---

<a class="badge-icon" href={link} target="_blank">
  <img
    src={`https://img.shields.io/badge/${encodeURIComponent(label ?? logo ?? "")}-${color(
      bgColor
    )}?style=for-the-badge${
      queryParam("logo", logo) + queryParam("logoColor", color(logoColor)) + queryParam("link", link)
    }`}
    alt={logo}
  />
</a>

<style>
  .badge-icon {
    @apply !no-underline;
  }
  .badge-icon img {
    @apply !mx-0 !my-1 inline-block;
  }
</style>
