---
export interface Props {
  type?: "default" | "primary" | "success" | "info" | "warning" | "danger";
  title?: string;
  noIcon?: boolean;
}

const { type = "default", title, noIcon } = Astro.props;
---

<div class:list={["note", type, { "no-icon": noIcon }]}>
  {title && <h4>{title}</h4>}
  <slot />
</div>

<style>
  .note {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 1em;
    position: relative;
    border: 1px solid #eee;
    border-left-width: 5px;
  }
  .note :global(p) {
    margin: 0;
  }
  .note summary {
    cursor: pointer;
    outline: 0;
  }
  .note summary p {
    display: inline;
  }
  .note h2,
  .note h3,
  .note h4,
  .note h5,
  .note h6 {
    border-bottom: initial;
    margin: 0;
    padding-top: 0;
  }
  .note :first-child {
    margin-top: 0;
  }
  .note :last-child {
    margin-bottom: 0;
  }
  .note:not(.no-icon) {
    padding-left: 3em;
  }
  .note:not(.no-icon)::before {
    font-size: 1.5em;
    left: 0.5em;
    position: absolute;
    top: calc(50% - 1em);
  }
  .note.default {
    border-left-color: #777;
  }
  .note.default h2,
  .note.default h3,
  .note.default h4,
  .note.default h5,
  .note.default h6 {
    color: #777 !important;
  }
  .note.default:not(.no-icon)::before {
    content: "\f0a9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #777;
  }
  .note.primary {
    border-left-color: #6f42c1;
  }
  .note.primary h2,
  .note.primary h3,
  .note.primary h4,
  .note.primary h5,
  .note.primary h6 {
    color: #6f42c1 !important;
  }
  .note.primary:not(.no-icon)::before {
    content: "\f055";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #6f42c1;
  }
  .note.info {
    border-left-color: #428bca;
  }
  .note.info h2,
  .note.info h3,
  .note.info h4,
  .note.info h5,
  .note.info h6 {
    color: #428bca !important;
  }
  .note.info:not(.no-icon)::before {
    content: "\f05a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #428bca;
  }
  .note.success {
    border-left-color: #5cb85c;
  }
  .note.success h2,
  .note.success h3,
  .note.success h4,
  .note.success h5,
  .note.success h6 {
    color: #5cb85c !important;
  }
  .note.success:not(.no-icon)::before {
    content: "\f058";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #5cb85c;
  }
  .note.warning {
    border-left-color: #f0ad4e;
  }
  .note.warning h2,
  .note.warning h3,
  .note.warning h4,
  .note.warning h5,
  .note.warning h6 {
    color: #f0ad4e !important;
  }
  .note.warning:not(.no-icon)::before {
    content: "\f06a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #f0ad4e;
  }
  .note.danger {
    border-left-color: #d9534f;
  }
  .note.danger h2,
  .note.danger h3,
  .note.danger h4,
  .note.danger h5,
  .note.danger h6 {
    color: #d9534f !important;
  }
  .note.danger:not(.no-icon)::before {
    content: "\f056";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #d9534f;
  }
</style>
