---
// Usage: like https://theme-next.js.org/docs/tag-plugins/button

export interface Props {
  href: string;
  icon?: string;
  title?: string;
}

const { href, icon, title } = Astro.props;
---

<a
  class="rounded bg-skin-card p-2 !text-skin-base no-underline hover:!text-skin-base"
  target="_blank"
  rel="noopener"
  href={href}
  title={title}
>
  {icon && <i class:list={["fab", icon, "mr-1"]} />}
  {title}
</a>

<style>
  .btn .fa-fw {
    text-align: left;
    width: 1.285em;
  }
</style>
